{% extends "base.html" %}

{% block page_header %}
    <h2>Log In to Watercooler</h2>
{% endblock %}

{% block content %}
    <p>If you don't already have an account,
    <a href="/accounts/register/{% if next %}?next={{next|escape}}{% endif %}">sign up for Watercooler</a>.</p>

    {% if form.errors %}
        <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <form action="." method="post" class="auth">
        {{ form.as_p }}
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next|escape }}" />
    </form>
{% endblock %}
