{% extends "base.html" %}

{% block page_title %}Register{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/utils.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/reg.js"></script>
{% endblock %}

{% block page_header %}
    <h2>Sign Up for Watercooler</h2>
{% endblock %}

{% block content %}
    <p>Fill out the form below to sign up for a Watercooler account.</p>

    {% if form.errors %}
        <p class="error">Signup failed!  Correct the errors below and try again.</p>
    {% endif %}

    <form action="." id="register" method="post" class="auth">
        {% for field in form %}
            <div class="field">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {% ifequal field.html_name "username" %}
                    {# Should be hidden by default by the CSS #}
                    <span class="unavailable">Unavailable</span>
                {% endifequal %}
                <p class="help">{{ field.help_text }}</p>
            </div>
        {% endfor %}

        <input type="submit" value="Sign Up!" />
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
    </form>
{% endblock %}
