@import "reset.css";


/*---------------------------------------------------------------------------
    Basic styles
---------------------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
    font-family: georgia, serif;
    font-size: 14px;
    
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
    font-weight: normal;
}
h3 {
    font-size: 20px;
    font-weight: normal;
}

p {
    margin: 1em 0;
}
p:first-child {
    margin-top: 0;
}

a {
    color: #369;
    text-decoration: none;
    border-bottom: 1px dotted;
}

ul {
    list-style-type: square;
    margin: 1em;
}
li {
    padding: 3px 0;
}


/*---------------------------------------------------------------------------
    Sitewide styles
---------------------------------------------------------------------------*/
div#header {
    background-color: #fff;
}

div#logo {
    background-color: #369;
    margin-bottom: 1px;
    padding: 10px;
    border: 3px solid #245586; /*036*/
    border-top-width: 0; border-left-width: 0;
}
div#logo h1 {
    margin: 0;
    padding: 0;
}
div#logo h1 a {
    display: block;
    text-indent: -5000px;
    background: transparent url(img/logo.png) no-repeat;
    height: 33px;
    border: none;
}

div#user {
    text-align: right;
    padding: 10px;
    font-family: "Lucida Sans", Calibri, Verdana, sans-serif;
    font-size: 12px;
}


div#content {
    width: 760px;
    padding: 20px;
    margin: 0 auto;
}

div#page-header, div#post {
    background-color: #e9e9bf;
    padding: 10px;
    border: 3px solid #d9d9a5;
    border-top-width: 0;
    border-left-width: 0;
    margin-bottom: 1px;
}
div#page-header h2 {
    color: #369;
    margin: 0;
    padding: 0;
}

div.column {
    width: 50%;
}
div.left.column {
    float: left;
}
div.right.column {
    margin-left: 50%;
}


div#footer {
    background-color: #369;
    color: #fff;
    padding: 10px;
    border: 3px solid #245586;
    border-bottom-width: 0; border-left-width: 0;
    font-size: 11px;
}
div#footer p {
    margin: 0;
}
div#footer a {
    color: #ccc;
}

strong.logo {
    font-variant: small-caps;
}

input.blank {
    /* For labelify plugin */
    color: #666;
}


/*---------------------------------------------------------------------------
    Front page
---------------------------------------------------------------------------*/
div#page-header.intro {
    padding: 20px;
}
div#page-header.intro div.left.column h2 {
    color: #369;
    margin-bottom: -8px;
    
    text-indent: -5000px;
    background: transparent url(img/tagline.png) no-repeat;
    height: 22px;
}
div#page-header.intro div.left.column p {
    margin-right: 20px;
}

div#start {
    background-color: #900;
    color: #fff;
    border: 3px solid #740000;
    border-top-width: 0;
    border-left-width: 0;
    -moz-border-radius: 12px;
}
div#start h2 {
    padding-top: 15px;
    padding-bottom: 0;
    text-align: center;
    
    text-indent: -5000px;
    background: transparent url(img/start.png) center no-repeat;
    height: 17px;
}
div#start form {
    display: block;
    padding: 10px;
}
div#start form label {
    display: none;
}
div#start input {
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-family: inherit;
}
div#start input[type="text"] {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0;
    width: 353px;
}

div#more-info div#sidebar + h3 + p {
    margin-right: 53%;
}
div#more-info li strong {
    display: block;
}

div#sidebar {
    float: right;
    width: 50%;
    background-color: #eee;
    border: 3px solid #ccc;
    border-top-width: 0;
    border-left-width: 0;
    padding: 10px 0;
}
div#sidebar h3, div#sidebar p {
    padding: 0 10px;
}
div#sidebar ul {
    padding: 0 20px;
}


/*---------------------------------------------------------------------------
    Chat page
---------------------------------------------------------------------------*/
body#chat-page div#content {
    padding: 0;
    width: 800px;
    background: transparent url(img/sidebar-bg.gif) top right repeat-y;
}

div#page-header span#created-by {
    font-style: italic;
    color: #AFAF8E;
    font-size: 18px;
}
div#page-header span#created-by span {
    font-weight: bold;
}

#chat-container {
    float: left;
    width: 549px;
    margin-bottom: 1px;
}

table#chat {
    width: 100%;
}
#chat td {
    width: 100%;
}
#chat td, #chat th {
    padding: 5px 10px;
    border-top: 1px dotted #ccc;
    line-height: 125%;
}
#chat tr:first-child td, #chat tr:first-child th {
    border-top: none;
}
#chat th {
    color: #369;
    font-size: 11px;
    font-family: "Lucida Sans", Verdana, sans-serif;
    font-weight: bold;
    text-align: right;
}

/* Highlighting the user's own posts */
#chat tr.me td {
    font-weight: bold;
}
#chat tr.me th {
    color: #900;
}

/* Inline multimedia */
#chat td img {
    max-width: 449px;
    vertical-align: top;
    margin: 10px 0;
}
#chat td object {
    vertical-align: top;
}

/* Chat filters */
#chat-container p.filter {
    background-color: #369;
    border: 3px solid #245586;
    border-top: none; border-left: none;
    padding: 5px 10px;
    margin-top: 0;
    margin-bottom: 1px;
    color: #fff;
    font-size: 12px;
    position: relative;
}
#chat-container p.filter .criteria {
    font-weight: bold;
    color: #E9E9BF;
    font-family: "Lucida Sans", Calibri, Verdana, sans-serif;
}
#chat-container p.filter a {
    color: #fff;
    position: absolute;
    top: 5px;
    right: 10px;
}


div#users {
    width: 250px;
    margin-left: 550px;
}
div#users h3 {
    margin: 0;
    padding: 5px 10px;
}
div#users ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
div#users li {
    padding: 5px 10px;
    border-top: 1px dotted #ccc;
    font-size: 12px;
    font-family: "Lucida Sans", Verdana, sans-serif;
}
div#users li.me {
    font-weight: bold;
    color: #900;
}
div#users li a {
    color: inherit;
    border: none;
}
div#users p {
    font-size: 12px;
    margin: 1em;
    color: #666;
}
div#users form {
    margin: 0 10px;
}
div#users form input {
    display: block;
    margin: 5px 0;
}

div#users form#search label {
    display: none;
}


div#post {
    clear: both;
    width: 526px;
}
#post-form {
    display: block;
}
#post-submit {
    float: right;
    width: 75px;
}
#post-form textarea {
    font: inherit;
    margin-right: 85px;
    padding: 5px;
    width: 430px;
    display: block;
}


/*---------------------------------------------------------------------------
    Auth/Signup forms
---------------------------------------------------------------------------*/
form.auth {
    width: 50%;
}

form.auth label {
    display: block;
    font-weight: bold;
    padding: 5px 0;
    font-size: 14px;
    color: #333;
}
form.auth input {
    display: block;
}
form.auth p {
    font-size: 12px;
    color: #999;
}

p.error, div.error, ul.errorlist li {
    padding: 5px 10px;
    background-color: #ffdfdf;
    border: 3px solid #df7d7d;
    border-top-width: 1px;
    border-left-width: 1px;
    margin: 1em 0;
}
ul.errorlist {
    margin: 0;
    list-style-type: none;
}
ul.errorlist li {
    margin: 2px 0;
}