{% extends "base.html" %}

{% block page_header %}
    <h2>{{ chat.name }}</h2>
{% endblock %}

{% block content %}
    <div id="chat-container">
        <ol id="chat">
            {% for post in chat.posts.all %}
                <li>
                    <span class="username">{{ post.user }}</span>
                    {{ post.content_rendered }}
                    <span class="timestamp">@ {{ post.timestamp|date:"H:i" }}</span>
                </li>
            {% endfor %}
        </ol>
    
        <div id="users">
            <h3>Users</h3>
            <ul id="active">
                {% for user in chat.users %}
                    <li>{{ user }}</li>
                {% endfor %}
            </ul>
        </div>
    
        <div id="post">
            <h3>Say Something</h3>
            <form action="{% url chat_post chat.slug %}" method="post">
                <textarea name="content" rows="5" cols="60"></textarea><br />
                <input type="submit" value="Submit" />
            </form>
            <p><strong>Note:</strong> URLs will be hyperlinked automatically.
            Images, audio and video links will be displayed inline.</p>
        </div>
    </div>
{% endblock %}