{% extends "base.html" %}

{% block page_title %}Conversation: {{ chat.name }}{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/userhandler.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/mediahandler.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/posthandler.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/chat.js"></script>
{% endblock %}

{% block page_header %}
    <h2>
        {{ chat.name }}
        <span id="created-by">
            &mdash; a conversation started by <span>{{ chat.created_by }}</span>
        </span>
    </h2>
{% endblock %}

{% block body_id %}chat-page{% endblock %}

{% block content %}
    <div id="chat-container">
        {% if filters %}            
            {% if filters.user %}
                <p class="filter">
                    Showing posts made by <span class="criteria">{{ filters.user }}</span>.
                    <a href=".">Clear filter?</a>
                </p>
            {% endif %}
            {% if filters.search %}
                <p class="filter">
                    Keyword search: <span class="criteria">{{ filters.search }}</span>
                    <a href=".">Clear filter?</a>
                </p>
            {% endif %}
        {% endif %}
        
        {# Render the posts for this chat #}
        {% include "chat/posts.html" %}
        
        <div id="post">
            <form id="post-form" action="{% url chat_post chat.slug %}" method="post">
                <input id="post-submit" type="submit" value="Post!" />
                <textarea id="post-content" name="content" rows="2"></textarea>
                <input id="post-username" type="hidden" value="{{ user }}">
                <input id="post-pingurl" type="hidden" value="{% url chat_ping chat.slug %}">
            </form>
        </div>
    </div>

    <div id="users">
        <h3>Users</h3>
        <ul>
            {% with chat.users as users %}
                {% if not users %}
                    <li>No users yet</li>
                {% endif %}
                {% for u in users.active %}
                    <li class="active{% ifequal u user %} me{% endifequal %}">
                        <a href="./?user={{ u.username }}">{{ u.username }}</a>
                    </li>
                {% endfor %}
                {% for u in users.inactive %}
                    <li class="inactive">
                        <a href="./?user={{ u.username }}">{{ u.username }}</a>
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>
        <p class="note"><strong>Note:</strong> Click on a username to
        show only that users's posts.</p>
        
        <h3>Search this conversation</h3>
        <form id="search" action="." method="get">
            <label for="q">Keywords</label>
            <input id="q" name="q" type="text" value="" />
            <input type="submit" value="Search" />
        </form>
    </div>
{% endblock %}