{% extends "base.html" %}

{% block page_header %}
    <h2>{{ chat.name }}</h2>
{% endblock %}

{% block content %}
    <div id="chat-container">
        
        <div id="chat">
                        
            {% if filters %}            
                {% if filters.user %}
                    <p class="filter">
                        Showing posts made by <span class="criteria">{{ filters.user }}</span>.
                        <a href=".">Clear filter?</a>
                    </p>
                {% endif %}
                {% if filters.search %}
                    <p class="filter">
                        Keyword search: <span class="criteria">{{ filters.search }}</span>
                        <a href=".">Clear filter?</a>
                    </p>
                {% endif %}
            {% endif %}
            
            <ol>
                {% if posts %}
                    {% for post in posts %}
                        <li{% ifequal post.user user %} class="me"{% endifequal %}>
                            <span class="username">{{ post.user }}</span>
                            {{ post.content_rendered }}
                            <span class="timestamp">@ {{ post.timestamp|date:"H:i" }}</span>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>
                        {% if filters %}
                            No posts in this chat matched the filter criteria.
                        {% else %}
                            Nobody has contributed to this chat yet.  Start
                            things off by typing in the text box below.
                        {% endif %}
                    </li>
                {% endif %}
            </ol>
        </div>
    
        <div id="users">
            <h3>Users</h3>
            <ul id="active">
                {% for chatuser in chat.users %}
                    <li{% ifequal chatuser user %} class="me"{% endifequal %}>
                        <a href="./?user={{ chatuser }}">{{ chatuser }}</a>
                    </li>
                {% endfor %}
            </ul>
            <p class="note"><strong>Note:</strong> Click on a username to
            show only that users's posts.</p>
            
            <h3>Search this chat</h3>
            <form action="." method="get">
                <input name="q" type="text" value="Keywords" />
                <input type="submit" value="Search" />
            </form>
        </div>
    
        <div id="post">
            <h3>Say Something</h3>
            <form action="{% url chat_post chat.slug %}" method="post">
                <textarea name="content" rows="5" cols="60"></textarea><br />
                <input type="submit" value="Submit" />
            </form>
            <p><strong>Note:</strong> URLs will be hyperlinked automatically.
            Images, audio and video links will be displayed inline.</p>
        </div>
    </div>
{% endblock %}