{% extends "base.html" %}

{% block page_title %}Conversation: {{ chat.name }}{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/mediahandler.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/userhandler.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/posthandler.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/layout.js"></script>
{% endblock %}

{% block page_header %}
    <h2 class="chat-header">
        <a href="{% url chat chat.slug %}">{{ chat.name }}</a>
        <span id="created-by">
            &mdash; a conversation started by <span>{{ chat.created_by }}</span>
        </span>
    </h2>
{% endblock %}

{% block body_id %}chat-page{% endblock %}

{% block content %}
    <div id="chat-container">
        {# An extension point for templates extending this one #}
        {% block chat_header %}{% endblock %}
        
        {# Render the posts for this chat #}
        {% include "chat/posts.html" %}
    
        {# Stuffing this in a block allows child templates to hide it #}
        {% block post %}
            <div id="post">
                <form id="post-form" action="{% url chat_post chat.slug %}" method="post">
                    <textarea id="post-content" name="content" rows="3"></textarea>
                    <input id="post-submit" type="submit" value="Post!" />
                    <input id="post-username" type="hidden" value="{{ user }}">
                    <input id="post-pingurl" type="hidden" value="{% url chat_ping chat.slug %}">
                </form>
            </div>
        {% endblock %}
    </div>

    <div id="users">
        <h3>Active Users</h3>
        <ul class="active">
            {% if users.active %}
                {% for u in users.active %}
                    <li class="{% ifequal u user %} me{% endifequal %}">
                        <a href="{% url chat_filter chat.slug %}?user={{ u.username }}">{{ u.username }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="empty">None</li>
            {% endif %}
        </ul>
                
        <h3>Inactive Users</h3>
        <ul class="inactive">
            {% if users.inactive %}
                {% for u in users.inactive %}
                    <li>
                        <a href="{% url chat_filter chat.slug %}?user={{ u.username }}">{{ u.username }}</a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="empty">None</li>
            {% endif %}
        </ul>    
        
        <h3>Search this conversation</h3>
        <form id="search" action="{% url chat_filter chat.slug %}" method="get">
            <label for="q">Keywords</label>
            <input id="q" name="q" type="text" value="" />
            <input type="submit" value="Search" />
        </form>
    </div>
{% endblock %}