{% extends "base.html" %}

{% block page_title %}About Us{% endblock %}

{% block page_header %}
    <h2>About Us</h2>
{% endblock %}

{% block content %}
    <p><strong class="logo">Watercooler</strong> is being developed by
    <a href="mailto:mccutchen@gmail.com">Will McCutchen</a> as the final
    project for <a href="http://www.cs.utexas.edu/~mitra/">Professor Shyamal Mitra</a>'s
    Fall 2008 <a href="http://www.cs.utexas.edu/~mitra/csFall2008/cs329/cs329.html">CS 329E class</a>
    at the University of Texas at Austin.</p>
    
    <p>It was developed using <a href="http://www.djangoproject.com/">Django</a>,
    a web programming framework for the <a href="http://www.python.org/">Python
    programming language</a>, and <a href="http://www.jquery.com/">jQuery</a>,
    a JavaScript framework.</p>
    
    <p>The source code for <strong class="logo">Watercooler</strong> can
    be found at <a href="http://repos.overloaded.org/watercooler/">repos.overloaded.org</a>.</p>
{% endblock %}