<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Watercooler &ndash; {% block page_title %}Page title.{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}watercooler.css" />
        
        {# Use Google's hosted version of jQuery #}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
        
        {# Any extra header info (e.g., other CSS files) goes here #}
        {% block extrahead %}{% endblock %}
    </head>
    
    <body id="{% block body_id %}default-body-id{% endblock %}">
        <div id="header">
            <div id="logo">
                <h1><a href="{% url index %}">Watercooler</a></h1>
                
                {% comment %}
                    The #user block totally shouldn't be inside the #logo
                    block, but it is for style reasons.
                {% endcomment %}
                <div id="user">
                    {% if user.is_authenticated %}
                        Logged in as <strong>{{ user }}</strong>.
                        <a href="/accounts/logout/">Log out</a>?
                    {% else %}
                        Not logged in.  <a href="/accounts/login/">Log in</a> or <a href="/accounts/register/">Sign up</a>?
                    {% endif %}
                </div>
            </div>
        
            <div id="page-header" class="{% block page_header_class %}default{% endblock %}">
                {% block page_header %}Page Title{% endblock %}
            </div>
        </div>

        <div id="content" class="{% block content_class %}default{% endblock %}">
            {% block content %}Content{% endblock %}
        </div>
        
        <div id="footer">
            <p>
                <strong class="logo">Watercooler</strong>&mdash;
                <i>Quick and easy group chat</i> |
                <a href="{% url about %}">About</a> |
                <a href="{% url contact %}">Contact</a> |
                Copyright &copy; 2008
                <a href="mailto:mccutchen@gmail.com">Will McCutchen</a>
            </p>
        </div>
    </body>
</html>
