{% extends "base.html" %}

{% block page_title %}Contact Us{% endblock %}

{% block page_header %}
    <h2>Contact Us</h2>
{% endblock %}

{% block content %}
    <div class="standalone section">
        <p><strong class="logo">Watercooler</strong> is being developed by <a
        href="mailto:mccutchen@gmail.com">Will McCutchen</a> as part of <a
        href="http://www.cs.utexas.edu/~mitra/">Professor Shyamal Mitra</a>'s Fall
        2008 <a href="http://www.cs.utexas.edu/~mitra/csFall2008/cs329/cs329.html">CS
        329E class</a>. at the University of Texas at Austin.</p>

        <p>Will McCutchen is a 27-year-old who expects to finally get his
        undergraduate degree in May, 2009, a short nine years after he started. He
        hates the PHP programming language and is not looking forward to using it to
        implement this project.</p>
    </div>
{% endblock %}