{% extends "base.html" %}

{% block page_title %}Quick and easy group chat.{% endblock %}

{% block page_header_class %}intro{% endblock %}

{% block page_header %}
    <div class="left column">
        <h2>Quick and easy group chat.</h2>
        <p><strong class="logo">Watercooler</strong>
        makes it easy to create and share
        conversations with your friends, your
        coworkers, or even complete strangers!  To get
        started, just give your conversation a name in
        the box to the right.</p>
    </div>

    <div id="start" class="right column">
        <h2>Start a conversation now.</h2>
        <form action="{% url chat_create %}" method="post">
            <div>
                <label for="name">Conversation name</label>
                <input name="name" id="name" type="text" value="" />
                <input type="submit" value="Start chatting" />
            </div>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div id="more-info" class="section">
        <div id="sidebar">
            <h3>Public Conversations</h3>
            <p>The following public conversations are
            currently taking place.  Join one of them and
            add your $0.02.</p>
            {% if public_chats %}
                <ul>
                    {% for chat in public_chats %}
                        <li><a href="{{ chat.get_absolute_url }}">{{ chat.name }}</a></li>
                    {% endfor %}
                </ul>
                <p>Or, <a href="{% url chat_index %}">browse all public conversations</a>.</p>
            {% else %}
                <p>Sorry, no public conversations available.</p>
            {% endif %}
        </div>
    
        <h3>More information</h3>

        <p><strong class="logo">Watercooler</strong> is a
        great tool for chatting with your friends or
        collaborating with your coworkers.  It's available
        anywhere you have an Internet connection and
        requires no software installation.</p>

        <h3>Features</h3>
        <ul id="features">
            <li><strong>Easy setup.</strong> Just name your
            conversation, give it a password, and share it
            with your friends.</li>
        
            <li><strong>Saved transcripts.</strong> Transcripts of your
            conversations are always available.</li>
        
            <li><strong>Persistent conversations.</strong> Resume a conversation at
            any time, even after weeks or months.</li>
        
            <li><strong>Searchable.</strong> Easily search
            your conversations.</li>
        
            <li><strong>Public conversations.</strong> Create public
            conversations that anyone can join.</li>
        
            <li><strong>Multimedia support.</strong> Links
            to images, videos, or audio files are viewable
            or playable right from the conversation
            itself.</li>
        </ul>
    
        <h3>Inspiration</h3>
        <p><strong class="logo">Watercooler</strong> was
        inspired by the infinitely superior <a
        href="http://www.campfirenow.com">Campfire</a>
        from the talented folks at <a
        href="http://www.37signals.com">37signals</a>.</p>
    </div>
{% endblock %}